/* Defines the background color of the "squares": */
.squares>div {
  background-color: rgb(145, 145, 235);
}

/* Formats the display of the "squares": */
.squares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vw 25vw 25vw;
  column-gap: 1vw;
  row-gap: 1vw;
}

/* Formats the display of the "bigsquare": */
.bigsquare {
  position: relative;
  grid-column-end: span 3;
  grid-row-end: span 2;
}

/* Defines the size/shape/background color of the "circles": */
.circle {
  width: 10vw;
  height: 10vw;
  background-color: rgb(230, 80, 80);
  border-radius: 50%;
  position: absolute;
}

/* Formats the starting position of the group of "circles": */
.circles {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

/* Positions/Formats "circle" #1: */
.circles>.circle:nth-child(1) {
  background-color: rgb(0, 0, 0);
  left: 15vw;
  top: 20vw;
}

/* Positions/Formats "circle" #2: */
.circles>.circle:nth-child(2) {
  left: 50vw;
  top: 10vw;
}

/* Positions/Formats "circle" #3: */
.circles>.circle:nth-child(3) {
  background-color: rgb(108, 0, 209);
  width: 20vw;
  height: 20vw;
  left: 50vw;
  top: 50vw;
}